<nav class="light-blue lighten-3" role="navigation">
    <div class="nav-wrapper container">
      <ul class="right hide-on-med-and-down">
        <li><%= link_to '新 規 登 録', "#", class: "sign-up" %></li>
        <%# person %>
        <li><%= link_to 'ロ グ イ ン', "#", class: "login" %></li>
        <%# open_in_new %>
      </ul>
      <%# レスポンシブ対応用 %>
      <ul id="nav-mobile" class="sidenav">
      <li><%= link_to '新 規 登 録', "#", class: "sign-up" %></li>
        <%# person %>
        <li><%= link_to 'ロ グ イ ン', "#", class: "login" %></li>
        <%# open_in_new %>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <a id="logo-container" class="brand-logo"><%=image_tag "Logo-white.jpg" ,size: '180x180'%></a>
      <div class="container">
        <br><br>
        <h2 class="header-title center">今日からあなたも始めよう！</h2>
        <div class="row center">
          <h3 class="header-subtitle  col s12 ">継続したいことをカウントできる無料アプリ</h3>
        </div>
        <div class="row center">
          <a href="#" id="download-button" class="btn-large waves-effect waves-light pink accent-1">はじめる</a>
        </div>
      </div>
    </div>
    <div class="parallax"><%=image_tag "background1.jpg"%></div>
</div>


  <div class="container">
    <div class="section">

      <div class="row">
    <h3 class="header center grey-text text-darken-2">このようなあなたにおすすめ</h3>
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text text-lighten-3"><i class="medium material-icons">filter_1</i></h2>
            <h5 class="center grey-text text-darken-2">成長したい</h5>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text text-lighten-3"><i class="medium material-icons">filter_2</i></h2>
            <h5 class="center grey-text text-darken-2">自分に自信がない</h5>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text text-lighten-3"><i class="medium material-icons">filter_3</i></h2>
            <h5 class="center grey-text text-darken-2">頑張ろうとした気持ちを<br>紙に書いてもなくしてしまう</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

<div id="index-banner" class="parallax-container">
    <div class="parallax"><%=image_tag "background2.jpg"%></div>
  </div>


 <div class="container">
    <div class="section">
    <h3 class="header center grey-text text-darken-2">このアプリで出来ること</h3>

      <div class="row">
        <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="center light-blue-text text-lighten-3"><i class="medium material-icons">event_available</i></h2>
            <h4 class="center grey-text text-darken-2">イフゼンルールの設定・カウント</h4>
             <p class="light grey-text text-darken-2">ルールを1つ設定 / 1日ごとに1カウント出来る</p>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="center light-blue-text text-lighten-3"><i class="medium material-icons">event_note</i></h2>
            <h4 class="center grey-text text-darken-2">WOOPの法則で目標を記録</h4>
            <p class="light grey-text text-darken-2">自分の好きなタイミングで目標を記録 / 長続きにつながる！</p>
          </div>
        </div>
      </div>
    </div>
  </div>

<div id="index-banner" class="parallax-container">
    <div class="parallax"><%=image_tag "background3.jpg"%></div>
  </div>
